<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="{{url_for('static',filename='css/p.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        function a(event) {
            var ch = event.which;
            if (ch > 31 && ch != 32 && (ch < 65 || ch > 90) && (ch < 97 || ch > 122)) {
                return false;
            }
        }
    </script>
</head>

<body>
    <div class="container"  style="margin-top: 100px;">
        <div class="title">Add event</div>
        
        <div class="content">
            <form action="/addevent" method="POST">
                <div class="user-details">

                    <div class="input-box">
                        <span class="details">event name</span>
                        <input type="text" name="name" autocomplete="off" required onkeypress="return a(event);">
                    </div><br>
                    <div class="input-box">
                        <span class="details">game name</span>
                        <SELECT  style="width: 300px;" name="gameid">
                            {% for c in data %}
                                <OPTION value={{c.gameid}}>{{c.gameid}}</option>
                            {% endfor %}
                            </SELECT>
                    </div><br>
                    <div class="input-box">
                        <span class="details">venue</span>
                        <input type="text" autocomplete="off" name="venue" required  onkeypress="return a(event);">
                    </div><br>
                    <div class="input-box">
                        <span class="details">type</span>
                        <SELECT  style="width: 300px;" name="type">
                        <option name="type" value="singles">singles</option>
                        <option name="type" value="doubles">doubles</option>
                        </SELECT>
                    </div><br>
                    <div class="input-box">
                        <span class="details">rules</span>
                        <input type="text" autocomplete="off" name="rules" required>
                    </div><br>
                    <div class="input-box">
                        <span class="details">conducting staff</span>
                        <SELECT  style="width: 300px;" name="staff">
                            {% for c in sdata %}
                                <OPTION value={{c.staffid}}>{{c.staffid}}</option>
                            {% endfor %}
                            </SELECT>
                    </div><br>
                    <div class="input-box">
                        <span class="details">start date</span>
                        <input type="date" name="startdate" autocomplete="off" required>
                    </div><br>
                    <div class="input-box">
                        <span class="details">end date</span>
                        <input type="date" name="enddate" autocomplete="off" required>
                    </div><br>
                    <div class="input-box">
                        <span class="details">time</span>
                        <input type="time" name="time" required>

                    </div><br>
                   
                </div>

                <div class="button">
                    <input type="submit" value="Add">
                </div>

        </div>
    </div>

    </form>
    </div>
    </div>

</body>

</html>