<!DOCTYPE html>
<html>

<head>
    <title>set password-sports event Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/l.css')}}">
</head>

<body>
    <form action="/verify" method="POST">
        <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
              </div>
            {% endif %}
            {% endwith %}
            <div class="card card0 border-0">
                <div class="row d-flex">
                    <div class="col-lg-4">
                        <div class="card1 pb-5">
                            <div class="row"> <img src=""></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card2 card border-0 px-4 py-5">
                            <div class="row mb-4 px-3">
                                <h6 class="mb-0 mr-4 mt-2"></h6>
                                <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Email Address</h6>
                        </label> <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address">
                                </div>
                            </div>
                            <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">verify</button> </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        </script>
    </form>
</body>

</html>